/* styles/team.css */

.main-container {
  min-height: 100vh;
  background-color: #f7fafc;
  padding: 1.5rem;
}

.header-container {
  background-color: #1E3A8A;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Ensure left alignment */
  align-items: center;
  text-decoration: none;
  border-bottom: none;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0;
  color: #ffffff;
  text-align: left; /* Ensure left alignment */
}

.header-section {
  text-align: center;
  margin: 2rem 0;
}

.header-title-main {
  font-size: 2rem;
  font-weight: bold;
  color: #003153;
}

.header-subtitle {
  font-size: 1rem;
  color: #4a5568;
  margin-top: 0.5rem;
}

.team-section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr); /* Keep one column for all screens */
  max-width: 1200px;
  margin: 0 auto;
}

.team-member {
  display: flex;
  flex-direction: row; /* Keep row direction for all screens */
  align-items: center;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.team-member-image {
  border-radius: 9999px;
  margin-right: 1.5rem;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.team-member-details {
  text-align: left;
}

.team-member-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.team-member-title {
  font-size: 1.125rem;
  color: #003153;
  margin-top: 0.25rem;
}

.team-member-description {
  font-size: 1rem;
  color: #4a5568;
  margin-top: 0.5rem;
}

@media (min-width: 640px) {
  .header-container {
    flex-direction: row;
  }

  .header-title {
    font-size: 2.5rem;
    margin-left: 1rem;
  }

  .header-title-main {
    font-size: 2.5rem;
  }

  .header-subtitle {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .main-container {
    padding: 2rem;
  }

  .header-title {
    font-size: 3rem;
  }

  .header-title-main {
    font-size: 3rem;
  }

  .header-subtitle {
    font-size: 1.25rem;
  }

  .team-member-image {
    width: 120px;
    height: 120px;
  }

  .header-container::before {
    content: "Vertrauen";
    font-size: 1.5rem;
    color: #ffffff;
    margin-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .header-title {
    font-size: 3.5rem;
  }

  .header-title-main {
    font-size: 3.5rem;
  }

  .header-subtitle {
    font-size: 1.375rem;
  }

  .team-member-image {
    width: 140px;
    height: 140px;
  }

  .header-container::before {
    font-size: 2rem; /* Increase the font size for larger screens */
  }
}
